{% extends 'base.html.twig' %}

{% block title %}Add server « {{ parent() }}{% endblock %}

{% block body %}
    <main class="page">
        <div class="row">
            <div class="col">
                {% include 'admin/servers/_form.html.twig' %}
            </div>
        </div>
    </main>
{% endblock %}
