{% extends 'base.html.twig' %}

{% block title %}Servers « {{ parent() }}{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th width="16">Game</th>
                            <th>Hostname</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for server in servers %}
                        <tr>
                            <td><img src="{{ asset('images/games/' ~ server.game.icon) }}" alt="{{ server.game }}"></td>
                            <td>{{ server }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}
