.idea/
/game/addons/sourcemod/plugins/*
!game/addons/sourcemod/plugins/.gitkeep
/web/app/config/parameters.yml
/web/build/
/web/node_modules/
/web/phpunit.xml
/web/public_html/bundles/
/web/public_html/demos/*
!web/public_html/demos/.gitkeep
/web/public_html/dist/
/web/var/*
!/web/var/cache
/web/var/cache/*
!web/var/cache/.gitkeep
!/web/var/logs
/web/var/logs/*
!web/var/logs/.gitkeep
!/web/var/sessions
/web/var/sessions/*
!web/var/sessions/.gitkeep
!web/var/SymfonyRequirements.php
/web/vendor/
