###> symfony/framework-bundle ###
/web/.env.local
/web/.env.*.local
/web/public/bundles/
/web/var/
/web/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/web/.php_cs
/web/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

/.idea/
/db/
/web/.env
/web/node_modules/
/web/public/build/
