{% extends '@SourceBansCore/layout.html.twig' %}

{% set pageTitle = 'controllers.default.dashboard.title' | trans %}

{% block body %}
    <div class="container-fluid page-container">
        <div class="row">
            <div class="col-sm-12">
            </div>
        </div>
    </div>
{% endblock %}
