<div class="container-fluid page-container">
    <div class="row">
        <div class="col-sm-12">
            {{ knp_menu_render('SourceBansCoreBundle:Builder:adminMenu', {'currentClass': 'active'}) }}
        </div>
    </div>
    <div class="row">
        <aside class="col-sm-3">
            {% block sidebar %}{% endblock %}
        </aside>
        <section class="col-sm-9">
            {% block content %}{% endblock %}
        </section>
    </div>
</div>
