<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}SourceBans{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/main.css') }}">
    </head>
    <body>
        {% include 'layout/_page-header.html.twig' %}
        {% block body %}{% endblock %}
        <script src="{{ asset('build/main.js') }}"></script>
    </body>
</html>
