a.show {
  display: inline;
}
div.code {
  border-left: 6px solid #ddd/* #fbeed5 */;
  display: none;
  font-family: "Courier New",monospace;
  line-height: 1.3em;
  margin: 5px;
  /* Stop after about 24 lines, and just show a scrollbar. */
  /* max-height: 24em; */
  overflow: auto;
  /* Put a nice border around it. */
  padding: 1px 1px 1px 15px;
  /* Don't wrap its contents, and show scrollbars. */
  /* white-space: nowrap; */
  /* width: 90%; */
}
div.code code {
  background: none;
  border: 0;
  padding: 0;
}
h1 a {
  background-image: url(../images/logo.png);
  display: block;
  height: 42px;
  text-indent: -9999px;
  width: 320px;
}
pre {
  font-family: monospace;
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
}
pre.signature2 {
  margin: 6px 5px;
  padding: 8px 14px;
}

#header h1 {
  margin: 10px 0 12px;
}
#header .nav {
  margin: 10px 0;
}
#header .nav .dropdown-menu {
  min-width: 0;
}
#header .search {
  margin: 12px 10px;
}
#sidebar {
  margin-top: 10px;
}
#sidebar .toc {
  padding: 8px 0;
}

.sourceCode {
	background: #eee;
  color: #000;
  padding: 8px 14px/* 5px 10px */;
  margin: 1em 0;
}

#nav {
  /* border-top: 1px solid #222/* #ddd /; */
  margin-bottom: 10px;
  padding: 3px;
}

#classDescription {
  /* border-bottom: 1px solid #222/* #ddd /; */
  margin: 10px 0 20px;
  padding: 5px;
}

.detailHeader {
  /* border-bottom: 1px solid #222/* #ddd /; */
  font-size: 12pt;
  font-weight: bold;
  margin: 30px 0 5px;
}
.detailHeaderTag {
  font-size: 10pt;
  font-weight: normal;
}

.paramNameCol {
  font-weight: bold;
  width: 12%;
}
.paramTypeCol {
  width: 12%;
}

.ui-autocomplete {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #060606;
  border: 1px solid #222;
  border-radius: 4px;
  border-top: 0;
  list-style: none;
  margin: 0;
  max-height: 620px;
  overflow: auto;
  width: 286px;
}
.ui-autocomplete > li:nth-child(odd) {
  background: rgba(100, 100, 100, 0.1);
}
.ui-autocomplete > li a {
  border-top: 1px solid #222;
  cursor: pointer;
  display: block;
  padding: 5px;
}
.ui-autocomplete > li a .match {
  text-decoration: underline;
}