{% extends '@SourceBansCore/layout.html.twig' %}

{% set pageTitle = 'controllers.admin.groups.title' | trans %}

{% block title %}{{ pageTitle }} « {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        {% include '@SourceBansCore/Admin/Groups/partials/web_form.html.twig' %}
    </div>
{% endblock %}
