{% extends '@SourceBansCore/layout.html.twig' %}

{% set pageTitle = 'controllers.admin.groups.title' | trans %}

{% block title %}{{ pageTitle }} « {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {{ knp_menu_render('SourceBansCoreBundle:Builder:adminMenu') }}
            </div>
            <div class="col-lg-9">
                {% include '@SourceBansCore/Admin/Groups/partials/web_form.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
