{% extends '@SourceBansCore/layout.html.twig' %}

{% set pageTitle = 'controllers.default.account.title' | trans %}

{% block title %}{{ pageTitle }} « {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{ knp_menu_render('SourceBansCoreBundle:Builder:accountMenu') }}
            </div>
        </div>
    </div>
{% endblock %}
