{% extends '@SourceBansCore/layout.html.twig' %}

{% set pageTitle = 'controllers.admin.bans.title' | trans %}

{% block title %}{{ pageTitle }} « {{ parent() }}{% endblock %}

{% block body %}
    {% embed '@SourceBansCore/Admin/layout.html.twig' %}
        {% block content %}
            <div class="panel">
                <div class="panel-body">
                    {% include '@SourceBansCore/Admin/Bans/partials/form.html.twig' %}
                </div>
            </div>
        {% endblock %}

        {% block sidebar %}
            {% include '@SourceBansCore/Admin/Bans/partials/sidebar.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
