a.show {
  display: inline;
}
div.code {
  border-left: 6px solid #fbeed5;
  display: none;
  font-family: "Courier New",monospace;
  line-height: 1.3em;
  margin: 5px;
  /* Stop after about 24 lines, and just show a scrollbar. */
  /* max-height: 24em; */
  overflow: auto;
  /* Put a nice border around it. */
  padding: 1px 1px 1px 15px;
  /* Don't wrap its contents, and show scrollbars. */
  /* white-space: nowrap; */
  /* width: 90%; */
}
div.code code {
  background: none;
  border: 0;
  padding: 0;
}
h1 a {
  background-image: url(../images/logo.png);
  display: block;
  height: 42px;
  text-indent: -9999px;
  width: 320px;
}
pre, code {
  font-family: Menlo,Consolas,"Courier New",monospace;
}
pre {
  border-radius: 0;
  border-width: 1px 0;
  margin: 1em 0;
  padding: 5px 10px;
}
pre.signature2 {
  margin: 6px 5px;
}

.sourceCode {
  color: #000;
  padding: 5px 10px;
  margin: 1em 0;
}

#nav {
  border-top: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 3px;
}

#classDescription {
  border-bottom: 1px solid #ddd;
  margin: 10px 0 20px;
  padding: 5px;
}

.detailHeader {
  border-bottom: 1px solid #ddd;
  font-size: 12pt;
  font-weight: bold;
  margin: 30px 0 5px;
}
.detailHeaderTag {
  font-size: 10pt;
  font-weight: normal;
}

.paramNameCol {
  font-weight: bold;
  width: 12%;
}
.paramTypeCol {
  width: 12%;
}